.container {
    background:rgb(173, 66, 66);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family: serif;
    margin-left: 7px;
}