html, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
.a {
    background-color:yellow;
    grid-column: span 3;
}

.g {
    grid-column: span 2;
}

.h {
    grid-column: span 2;
}

.i {
    grid-column: span 4;
}

.index {
    margin-top: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;
}